.background-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 50px);
}

.text-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-family: "Teachers", sans-serif !important;
    font-size: 100px;
    font-weight: bold;
    text-align: center;

    .sub-title {
      font-size: 60px;

      .text-stroke {
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
      }
    }
  }
}