@font-face {
  font-family: 'Teachers';
  src: url('@/assets/fonts/teachers.ttf') format('truetype'),
  url('@/assets/fonts/teachers.ttf') format('truetype');
  font-weight: auto;
  font-style: auto;
}

html {
  position: fixed;
  bottom: 0;

  /* todo light mode, dark mode */
  background: black;
  color: white;
}

body {
  height: 100%;
  margin: 0;
  overflow: auto;
}